<%= simple_form_for do |f| %>
  <%= f.error_notification %>

  

  <div class="form_inputs">
    <%= f.input :username, :required => true, label: 'nickname' %>
    <%= f.input :status, label: '今実装している機能など', required: true %>
    <%= f.input :profile %>
  </div>


    <div class="form_actions">
      <%= f.button :submit, 'Hello world' %>
    </div>


<% end %>
