<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  

  <div class="form_inputs">
    <%= f.input :username, :required => true, label: 'nickname' %>
    <%= f.input :status, label: '今実装している機能など', required: true %>
    <%= f.input :profile %>
  </div>


    <div class="form_actions">
      <%= f.button :submit, 'Hello world', :class=>"btn btn-primary" %>
    </div>

<% end %>


<div>
  <%= link_to 'アカウントを削除', user_path(@user.id), method: :delete, data: {confirm: 'アカウントを削除しますか？'}, :class=>"text-error" %>
</div>