<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  

  <div class="form_inputs">
    <%= f.input :username, :required => true, label: 'nickname' %>
    <%= f.input :status, label: '今実装している機能など'  %>
    <%= f.input :profile %>
    <%= f.simple_fields_for :beginner_messages do |p| %>
      <%= p.input :body, as: :hidden, input_html: { value: 'Hello World!'} %>
    <% end %>
  </div>

  <div class="form_actions">
    <%= f.button :submit, 'Hello world!' %>
  </div>
<% end %>
