<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  

  <div class="form_inputs">
    <%= f.input :username, :required => true %>
    <%= f.input :status %>
    <%= f.input :profile %>
  </div>

  <div class="form_actions">
    <%= f.button :submit %>
  </div>
<% end %>
