<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <th>username:</th>
    <td><%= @user.username %></td>
  </tr>

  <tr>
    <th>status:</th>
    <td><%= @user.status %></td>
  </tr>

  <tr>
    <th>profile:</th>
    <td><%= @user.profile %></td>
  </tr>
</table>

<%= link_to 'Home', root_url %>
