<p id="notice"><%= notice %></p>

<p>
  <strong>username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>profile:</strong>
  <%= @user.profile %>
</p>

<%= link_to 'Home', root_url %>
