<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>

  <strong>Description</strong>
  <%= @room.description %>
</p>


<%= link_to 'Enter', room_messages_path(@room) %>

<br>
<br>
<br>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>