<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "tweetcode" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "cyborg", :media => "all" %>

    <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
　　　<div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Tweet & Code</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to "Working", "beginner_messages#index"  %></li>
              <li><%= link_to "Error...", "errors#index"  %></li>
              <li><%= link_to "Relax", "/path3"  %></li>
            </ul>

            <%= form_tag beginner_message_search_index_path, method: :get do %>
              <p>
                <%= text_field_tag :query, params[:query] %>
                <%= submit_tag "Search", name: nil, :class=>"btn" %>
              </p>
            <% end %>

            

            <div class="pull-right">

              <a href="#myModal" class="btn btn-primary" data-toggle="modal" data-backdrop="true">記入</a>

            <div id="myModal" class="modal hide fade" style="width: 400px">
              <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3>what are you doing?</h3>
              </div>
              <div class="modal-body" style="height: 80px">
               <%= form_for BeginnerMessage.new, remote: true do |f| %>
    　　　　　　　　<%= f.text_area :body, :rows=>3, :class=>"span4" %>
              </div>
              <div class="modal-footer">
                <%= f.submit "Send", :class =>'btn' %>
                <% end %> 
                <a href="#" class="btn" data-dismiss="modal">戻る</a>
              </div>
            </div>



              <% if current_user %>
              <div class="btn-group">
                <button class="btn"><%= current_user.username %></button>
                <button class="btn dropdwon-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "ログアウト", "/logout", :class => "btn" %>
                  </li>
                </ul>
              </div>
              <% else %>
              <div class="btn-group">
                <button class="btn">ログイン</button>
                <button class="bun dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "twitterでログイン", "/auth/twitter", :class => "btn" %>
                  </li>
                  <li>
                    <p>github</p>
                  </li>
                </ul>
              <% end %>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><p>コーディングし始めるとき、</br>作業中などにつぶやく、</br>チャットスペース</p></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= bootstrap_flash %>
    　　　　<%= yield %>
    　　　</div>
      </div><!--/row-->

      <footer>
        <p>&copy; Tweet & Code 2013</p>
      </footer>

    </div> <!-- /container -->


    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "cyborg" %>
    <%= yield(:page_javascript) if content_for?(:page_javascript) %>
  </body>
</html>
